{"openapi":"3.0.1","info":{"title":"ePerusteet OPS-työkalu rajapinta","description":"Spring MVC API based on the swagger 3.0 specification","license":{"name":"EUPL 1.1","url":"https://interoperable-europe.ec.europa.eu/licence/european-union-public-licence-version-11-or-later-eupl"},"version":"v3.0.0"},"servers":[{"url":"https://virkailija.opintopolku.fi/eperusteet-ylops-service","description":"OPS-työkalu API"}],"paths":{"/api/external/opetussuunnitelmat":{"get":{"tags":["Julkinen"],"summary":"Opetussuunnitelmien haku","operationId":"getOpetussuunnitelmat","parameters":[{"name":"nimi","in":"query","description":"nimi","schema":{"type":"string"}},{"name":"kieli","in":"query","schema":{"type":"array","items":{"type":"string"}}},{"name":"perusteenDiaarinumero","in":"query","description":"perusteenDiaarinumero","schema":{"type":"string"}},{"name":"koulutustyypit","in":"query","description":"koulutustyypit","schema":{"type":"array","items":{"type":"string"}}},{"name":"sivu","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sivukoko","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/PageOpetussuunnitelmaJulkinenDto"}}}}}}},"/api/external/opetussuunnitelma/{opetussuunnitelmaId}":{"get":{"tags":["Julkinen"],"summary":"Opetussuunnitelman tietojen haku","operationId":"getExternalOpetussuunnitelma","parameters":[{"name":"opetussuunnitelmaId","in":"path","description":"Opetussuunnitelman id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaExportDto"}}}}}}},"/api/external/opetussuunnitelma/{opetussuunnitelmaId}/{custompath}":{"get":{"tags":["Julkinen"],"summary":"Opetussuunnitelman tietojen haku tarkalla sisältörakenteella","description":"Url parametreiksi voi antaa opetussuunnitelman id:n lisäksi erilaisia opetussuunnitelman rakenteen osia ja id-kenttien arvoja. Esim. /opetussuunnitelma/11548134/opintojaksot/15598911/nimi/fi antaa opetussuunnitelman (id: 11548134) opintojaksojen tietueen (id: 15598911) nimen suomenkielisenä.","operationId":"getOpetussuunnitelmaDynamicQuery","parameters":[{"name":"opetussuunnitelmaId","in":"path","description":"Opetussuunnitelman id","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"custompath","in":"path","description":"Opetussuunnitelman rakenteen osa","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpetussuunnitelmaExportDto"}}}}}}},"/api/external/opetussuunnitelma/{id}/peruste":{"get":{"tags":["Julkinen"],"summary":"Opetussuunnitelman perusteen haku. Palauttaa perusteen version, mikä opetussuunnitelmalla oli käytössä opetussuunnitelman julkaisun hetkellä.","operationId":"getExternalOpetussuunnitelmanPeruste","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json;charset=UTF-8":{"schema":{"$ref":"#/components/schemas/JsonNode"}}}}}}}},"components":{"schemas":{"KoodistoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"koodiUri":{"type":"string"},"koodiArvo":{"type":"string"},"nimi":{"type":"object","additionalProperties":{"type":"string"}}}},"OpetussuunnitelmaJulkinenDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"julkaisukielet":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["FI","SV","SE","RU","EN"]}},"organisaatiot":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OrganisaatioDto"}},"kunnat":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/KoodistoDto"}},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"koulutustyyppi":{"type":"string","enum":["PERUSTUTKINTO","AMMATTITUTKINTO","ERIKOISAMMATTITUTKINTO","AIKUISTENPERUSOPETUS","LISAOPETUS","ESIOPETUS","VARHAISKASVATUS","PERUSOPETUS","LUKIOKOULUTUS","LUKIOVALMISTAVAKOULUTUS","PERUSOPETUSVALMISTAVA","AIKUISLUKIOKOULUTUS","TPO"]},"tila":{"type":"string","enum":["LUONNOS","VALMIS","POISTETTU","JULKAISTU"]},"tyyppi":{"type":"string","enum":["OPS","POHJA"]},"esikatseltavissa":{"type":"boolean"},"toteutus":{"type":"string","enum":["YKSINKERTAINEN","PERUSOPETUS","TPO","LOPS","LOPS2019"]}}},"OrganisaatioDto":{"type":"object","properties":{"oid":{"type":"string"},"tyypit":{"type":"array","items":{"type":"string"}},"nimi":{"type":"object","additionalProperties":{"type":"string"}}}},"PageOpetussuunnitelmaJulkinenDto":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/OpetussuunnitelmaJulkinenDto"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"pageSize":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"OpetussuunnitelmaExportDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"julkaisukielet":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["FI","SV","SE","RU","EN"]}},"organisaatiot":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/OrganisaatioDto"}},"koulutuksenjarjestaja":{"$ref":"#/components/schemas/OrganisaatioDto"},"kunnat":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/KoodistoDto"}},"kuvaus":{"type":"object","additionalProperties":{"type":"string"}},"luoja":{"type":"string"},"luotu":{"type":"string","format":"date-time"},"muokattu":{"type":"string","format":"date-time"},"muokkaaja":{"type":"string"},"hyvaksyjataho":{"type":"string"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"perusteenDiaarinumero":{"type":"string"},"perusteenId":{"type":"integer","format":"int64"},"tila":{"type":"string","enum":["LUONNOS","VALMIS","POISTETTU","JULKAISTU"]},"tyyppi":{"type":"string","enum":["OPS","POHJA"]},"koulutustyyppi":{"type":"string","enum":["PERUSTUTKINTO","AMMATTITUTKINTO","ERIKOISAMMATTITUTKINTO","AIKUISTENPERUSOPETUS","LISAOPETUS","ESIOPETUS","VARHAISKASVATUS","PERUSOPETUS","LUKIOKOULUTUS","LUKIOVALMISTAVAKOULUTUS","PERUSOPETUSVALMISTAVA","AIKUISLUKIOKOULUTUS","TPO"]},"toteutus":{"type":"string","enum":["YKSINKERTAINEN","PERUSOPETUS","TPO","LOPS","LOPS2019"]},"paatospaivamaara":{"type":"string","format":"date-time"},"ryhmaoid":{"type":"string"},"ryhmanNimi":{"type":"string"},"esikatseltavissa":{"type":"boolean"},"ainepainoitteinen":{"type":"boolean"},"perusteenVoimassaoloAlkaa":{"type":"string","format":"date-time"},"perusteenVoimassaoloLoppuu":{"type":"string","format":"date-time"},"tuoPohjanOpintojaksot":{"type":"boolean"},"tuoPohjanOppimaarat":{"type":"boolean"},"perusteDataTuontiPvm":{"type":"string","format":"date-time"},"viimeisinSyncPvm":{"type":"string","format":"date-time"},"viimeisinJulkaisuAika":{"type":"string","format":"date-time"},"peruste":{"$ref":"#/components/schemas/PerusteInfoDto"},"pohja":{"$ref":"#/components/schemas/OpetussuunnitelmaNimiDto"},"tekstit":{"$ref":"#/components/schemas/Puu"}}},"OpetussuunnitelmaNimiDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"_pohja":{"type":"string"}}},"PerusteInfoDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"globalVersion":{"$ref":"#/components/schemas/PerusteVersionDto"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"diaarinumero":{"type":"string"},"voimassaoloAlkaa":{"type":"string","format":"date-time"},"voimassaoloLoppuu":{"type":"string","format":"date-time"},"muokattu":{"type":"string","format":"date-time"},"tila":{"type":"string"},"koulutustyyppi":{"type":"string","enum":["PERUSTUTKINTO","AMMATTITUTKINTO","ERIKOISAMMATTITUTKINTO","AIKUISTENPERUSOPETUS","LISAOPETUS","ESIOPETUS","VARHAISKASVATUS","PERUSOPETUS","LUKIOKOULUTUS","LUKIOVALMISTAVAKOULUTUS","PERUSOPETUSVALMISTAVA","AIKUISLUKIOKOULUTUS","TPO"]},"toteutus":{"type":"string","enum":["YKSINKERTAINEN","PERUSOPETUS","TPO","LOPS","LOPS2019"]}}},"PerusteVersionDto":{"type":"object","properties":{"aikaleima":{"type":"string","format":"date-time"}}},"Puu":{"type":"object","properties":{"original":{"$ref":"#/components/schemas/TekstiKappaleViiteExportDto"},"id":{"type":"integer","format":"int64"},"tekstiKappale":{"$ref":"#/components/schemas/TekstiKappaleDto"},"omistussuhde":{"type":"string","enum":["OMA","LAINATTU"]},"pakollinen":{"type":"boolean"},"valmis":{"type":"boolean"},"perusteTekstikappaleId":{"type":"integer","format":"int64"},"naytaPerusteenTeksti":{"type":"boolean"},"naytaPohjanTeksti":{"type":"boolean"},"piilotettu":{"type":"boolean"},"liite":{"type":"boolean"},"lapset":{"type":"array","items":{"$ref":"#/components/schemas/Puu"}}}},"TekstiKappaleDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"luotu":{"type":"string","format":"date-time"},"muokattu":{"type":"string","format":"date-time"},"muokkaaja":{"type":"string"},"muokkaajanNimi":{"type":"string"},"nimi":{"type":"object","additionalProperties":{"type":"string"}},"teksti":{"type":"object","additionalProperties":{"type":"string"}},"tila":{"type":"string","enum":["LUONNOS","VALMIS","POISTETTU","JULKAISTU"]},"tunniste":{"type":"string","format":"uuid"},"pakollinen":{"type":"boolean"},"valmis":{"type":"boolean"}}},"TekstiKappaleViiteExportDto":{"type":"object","properties":{"original":{"$ref":"#/components/schemas/TekstiKappaleViiteExportDto"},"id":{"type":"integer","format":"int64"},"tekstiKappale":{"$ref":"#/components/schemas/TekstiKappaleDto"},"omistussuhde":{"type":"string","enum":["OMA","LAINATTU"]},"pakollinen":{"type":"boolean"},"valmis":{"type":"boolean"},"perusteTekstikappaleId":{"type":"integer","format":"int64"},"naytaPerusteenTeksti":{"type":"boolean"},"naytaPohjanTeksti":{"type":"boolean"},"piilotettu":{"type":"boolean"},"liite":{"type":"boolean"}}},"JsonNode":{"type":"object"}}}}